.counter-container {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 0.5rem;
  display: inline-block;
  margin: 1rem;
}

.counter {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: rgb(36, 36, 36);
  color: rgb(15, 243, 57);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
