.counter-container {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 0.5rem;
  display: inline-block;
  margin: 1rem;
}

.counter {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: rgb(36, 36, 36);
  color: rgb(15, 243, 57);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-card {
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  flex-basis: 260px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.25s;
  font-family: "Roboto", Arial, sans-serif;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
}

.product-card > p.product-desc {
  flex-grow: 1;
}

.product-card > img {
  max-width: 100%;
}

.subscribe-form {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  margin: 2rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.2);
}
.subscribe-form input,
.subscribe-form select,
.subscribe-form button,
.subscribe-form label {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
}

.subscribe-form input,
.subscribe-form select {
  width: 70%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.subscribe-form > div > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-form .options {
  padding-left: 2rem;
}

.error {
  color: red;
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

.btn {
  background-color: rgb(92, 92, 92);
  color: azure;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.25s;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.btn:hover {
  background-color: rgb(108, 108, 108);
  color: rgb(255, 255, 255);
}

.btn.blue {
  background-color: rgb(30, 146, 255);
}
.btn.blue:hover {
  background-color: rgb(60, 161, 255);
}

.btn.orange {
  background-color: rgb(255, 131, 30);
}
.btn.orange:hover {
  background-color: rgb(255, 147, 59);
}

header nav a {
  padding: 0.5rem;
  margin-right: 1rem;
  color: rgb(6, 100, 250);
  text-decoration: none;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #777;
  margin-bottom: 1rem;
}

.page-content {
  padding: 1rem;
}
